<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.{{$user}}.sauce-run.{{$slug}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{$node_path}}</string>
    <string>{{$cli_path}}</string>
    <string>run</string>
    <string>{{$note_path}}</string>
    <string>--follow</string>
    <string>--json</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{$home}}</string>
  <key>StartInterval</key>
  <integer>{{$interval}}</integer>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>{{$home}}/Library/Logs/sauce-run.{{$slug}}.log</string>
  <key>StandardErrorPath</key>
  <string>{{$home}}/Library/Logs/sauce-run.{{$slug}}.err</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>HOME</key>
    <string>{{$home}}</string>
  </dict>
</dict>
</plist>
